---
const {direction, title, fontsize1, fontsize2, height, width} = Astro.props;

---

<main class = "Info_Section" style={`
    --direction: ${direction};
    --fontsize1: ${fontsize1};
    --fontsize2: ${fontsize2};
    --height: ${height};
    --width: ${width};
`}>
    <img class = "Info_bg" src ="/Scaleculus/background/iso-republic-milky-way-detail.jpg" alt="">
    <section class = "Info-Con">
        <header class="Title-Con">
            <img src="/Scaleculus/icons/arrow-right.png" alt="arrow icon" class = "Title-Icon" />
            <span class="Title-Text">{title}</span>
        </header>

        <div class="Line"></div>

        <section class="Info-Text">
            <slot />
        </section>
        
    </section>
</main>

<style>
    :root {
    --wisteria: #BEADDCff;
    --shadow-grey: #141527ff;
    --petal-frost: #F7D3EBff;
    --thistle: #D7BCE4ff;
    --wisteria-2: #C493DAff;
    --amethyst-smoke: #C18EC7ff;
    --snow: #F8EEEDff;
    }

    .Info_Section{
        background: var(--shadow-grey);
        
        position: relative;
        overflow: auto;

        border-bottom: 0.5rem solid var(--petal-frost);
        border-right: 0.5rem solid var(--petal-frost);
        border-radius: 0.2rem;

        min-height: var(--height);
        width: var(--width);

        margin: 1rem;

        box-shadow: 0 0 0.5rem 0.1rem var(--petal-frost);
        z-index: 1;
        transition: all 0.5s ease-in-out
    }

    .Info_Section:hover{
        box-shadow: 0 0 0.9rem 0.5rem var(--petal-frost);
        text-shadow: 0 0 15px rgba(190, 173, 220, 0.6), 
                    0 0 30px rgba(193, 142, 199, 0.4);
    }

    .Info_bg {
    position: absolute;
    top: 0;
    left: 0;           /* make sure it starts at the left */
    width: 100%;
    height: 100%;

    opacity: 0.5;

    object-fit: cover;   /* keeps aspect ratio and fills container */
    background: var(--shadow-grey);
    filter: blur(3px) hue-rotate(60deg);

    -webkit-mask-image: linear-gradient(to top, black 75%, transparent 50%);
    mask-image: linear-gradient(to top, black 5%, transparent 75%);

    z-index: 0;          /* put behind content */
    }

    .Line {
        position: relative;

        color: var(--snow);

        width: 8vw;
        height: 0.5vh;
        
        left: 50%;
        transform: translateX(-50%);

        border-radius: 2rem;
        box-shadow: 0rem 0rem 0.5rem 0.05rem var(--snow);
        background-color: var(--snow);   

        margin-top: 1rem;
        margin-bottom: 1rem;

        opacity: 0.8;  
        z-index: 1;
    }

    .Title-Icon {
        width: 1vw;
        height: auto;
        filter: invert(1);
    }

    .Title-Text {
        position: relative;   
        gap: 0.5rem; 

        color: var(--snow);
        font-family: "Quicksand", sans-serif;
        font-size: var(--fontsize1);
        font-weight: 1000;

        text-align: var(--direction);

        margin-left: 1rem;

        z-index: 1;
    }

    .Title-Con {
        display: flex;
        align-items: center;  
        min-height: 15vh;
    }

    .Info-Con {
        position: relative;

        text-align: left;

        color: var(--snow);

        padding: 1rem;
        text-align: var(--direction);

        white-space: normal;          
        overflow-wrap: break-word;   
        word-break: break-word;       

        z-index: 1;
    }

    .Info-Text {
        position: relative;
        color: var(--snow);
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        font-size: var(--fontsize2);;

        padding: 0;
        text-align: var(--direction);

    }

    
</style>